{% extends "mail/layout.html" %}
{% load static %}

{% block title %}
    E-mail | Register page
{% endblock %}

{% block body %}
    <div  class="container mt-2  d-flex flex-column align-items-center">
        <div class="text-center"> 
            <img src="{% static  'mail/img/gmail.png' %}" alt="email-logo" height="150" width="150">
        </div>
        
        <form class="w-50 mt-1 p-3 bg-white" method="post" action="{% url 'register' %}">

            {% csrf_token %}

            <h1 class="mb-2 text-center">Register</h1>

            <div class="row my-3 g-3">
                <div class="col">
                  <input type="text" name="first_name" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text"  name="last_name" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
              </div>
              {% if name_error %}
                    <small id="confirmationErrorMessage" class="form-text"><span class="text-danger">{{ name_error }}</span></small>
            {% endif %}

            <div class="form-group mb-3">
                <label for="email" class="form-label">E-mail:-</label>
                <input id="email" type="email" name="email" placeholder="Enter email " class="form-control" required>
                {% if integrity_error %}
                    <small id="integrityErrorMessage" class="form-text"><span class="text-danger">{{ integrity_error }}</span></small>
                {% else %}
                    <small id="emailHelp" class="form-text">you can use letters, numbers, periods</small> 
                {% endif %}
            </div>


            <div class="form-group mb-3">
                <label for="password" class="form-label">Password:-</label>
                <input id="password" name="password" type="password" placeholder="Enter Password " class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="Confirmation" class="form-label" >Confirmation:-</label>
                <input id="Confirmation" name="confirmation" type="password" placeholder="confirmation " class="form-control" required>
                {% if confirmation_error %}
                    <small id="confirmationErrorMessage" class="form-text"><span class="text-danger">{{ confirmation_error }}</span></small>
                {% endif %}
            </div>

            
            <div style="margin-left: 80px;" class="d-grid col-8 text-center">
              <button type="submit" class="btn btn-primary">Sign-up</button>
            </div>
            {% if admin_error %}
                 <small id="confirmationErrorMessage" style="margin-left: 90px;"  class="form-text"><span class="text-danger">{{ admin_error }}</span></small>
            {% endif %}
            <div class="text-center mt-3">
                Already signed up?
                <a class="p-2" href="{% url 'login' %}">login</a>
            </div>
        </form>
    </div>
{% endblock %}
